<form name="spamregex" method="post" action="{{action}}">
	<table border="0">
		<tr>
			<td align="right">{{spamregex-phrase-block}}</td>
			<td align="left">
				<input tabindex="1" name="wpBlockedPhrase" value="{{scBlockedPhrase}}" size="75" />
			</td>
		</tr>
		<tr>
			<td align="right">{{spamregex-reason}}</td>
			<td align="left">
				<input tabindex="1" name="wpBlockedReason" value="" size="75" />
			</td>
		</tr>
		<tr>
			<td align="right">&#160;</td>
			<td align="left">
				<input type="checkbox" tabindex="2" name="wpBlockedTextbox" id="wpBlockedTextbox" value="1" checked="checked" />
				<label for="wpBlockedTextbox">{{spamregex-phrase-block-text}}</label>
			</td>
		</tr>
		<tr>
			<td align="right">&#160;</td>
			<td align="left">
				<input type="checkbox" tabindex="3" name="wpBlockedSummary" id="wpBlockedSummary" value="1" />
				<label for="wpBlockedSummary">{{spamregex-phrase-block-summary}}</label>
			</td>
		</tr>
		<tr>
			<td align="right">&#160;</td>
			<td align="left">
				<input tabindex="4" name="wpSpamRegexBlockedSubmit" type="submit" value="{{spamregex-block-submit}}" />
			</td>
		</tr>
	</table>
	<input type="hidden" name="wpEditToken" value="{{token}}" />
</form>

